<!doctype html>
<title>ImageTinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">

<div id="gallery">

</div>

<script>
    // Function to handle the window resize event
    const preloadImages = 25
    var columnCnt = 0;
    var images = [];
    var lastImageId = NaN
    var columns = [];
    var all_images = false;
    async function initializeWebsite() {
        if (! all_images) {
            for (let index = 0; index < preloadImages; index++) {
                await new Promise(r => setTimeout(r, 200));
                addNewImage();
            }
        }
    }

    function buildWebsite() {
        var gallery = document.getElementById("gallery");
        columns = []
        newChildren = []

        for (let index = 0; index < columnCnt; index++) {
            var column = document.createElement("div");
            column.className = "gallery-column";
            columns.push([column, 0]);
            newChildren.push(column)
            // gallery.appendChild(column);
        }
        gallery.replaceChildren(...newChildren)
    }

    function addNewImage() {
        fetch(`/images/get_next_gallery_image/${lastImageId}`)
            .then(response => response.json())
            .then(data => {
                // Preload the next set of images
                if (data.relativeHeight < 0) {
                    all_images = true;
                } else {
                    images.push([data.imagePath, data.relativeHeight, data.rating]);
                    addImageToColumn(data.imagePath, data.relativeHeight, data.rating)
                    lastImageId = data.id
                }

            })
            .catch(error => console.error("Error preloading images:", error));

    }

    function addImageToColumn(imagePath, height, rating) {
        var imageDiv = document.createElement("div");
        imageDiv.className = "gallery-image";
        var image = document.createElement("img")
        image.src = imagePath;
        imageDiv.appendChild(image);
        // Choose smallest column
        col = 0
        smallest_val = columns[0][1]
        for (let index = 0; index < columns.length; index++) {
            const element = columns[index];
            if (element[1] < smallest_val) {
                col = index;
                smallest_val = element[1];
            }
        }
        columns[col][0].appendChild(imageDiv);
        columns[col][1] = columns[col][1] + height
    }

    function resortImages() {
        for (let index = 0; index < images.length; index++) {
            const element = images[index]
            addImageToColumn(element[0], element[1], element[2])
        }
    }

    function handleResize() {
        const viewportWidth = window.innerWidth;
        const viewportHeight = window.innerHeight;
        const maxWidth = 400;
        columnCnt = Math.ceil(viewportWidth / maxWidth);
        var gallery = document.getElementById("gallery");
        gallery.style.gridTemplateColumns = "1fr ".repeat(columnCnt);
        buildWebsite();
        resortImages();
    }

    function getVerticalScrollPercentage(elm) {
        let p = elm.parentNode || document.body
        return (elm.scrollTop || p.scrollTop) / (p.scrollHeight - p.clientHeight) * 100
    }

    function onScrollLoad(ev) {
        const scrollPercent = getVerticalScrollPercentage(document.body);
        if (scrollPercent > 80) {
            console.log("Scrolled around edge of page, loading more")
            initializeWebsite()
        }
    }

    handleResize();
    initializeWebsite();
    window.addEventListener('resize', handleResize);
    window.addEventListener("scrollend", onScrollLoad);
</script>
