{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}1 N!CE Sammlung{% endblock %}</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
{% endblock %}

{% block content %}
<div id="filters" class="filter-controls">
    <label for="rating-filter">Filtern nach Bewertung:</label>
    <span class="rate" id="star-rating">
        <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i>
    </span>
    <div></div>
    <div></div>
    <label for="best-of-the-day-filter">Best of the day:</label>
    <select id="best-of-the-day-filter">
        <option value="0">All</option>
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="10">15</option>
        <option value="10">20</option>
    </select>
    <div></div>
    <div></div>
    <button id="apply-filters-btn">Apply Filters</button>

    <div></div>
    <div></div>
    <button id="download_files" onclick="download_files()">Download</button>
</div>

<div id="loading-overlay" style="display: none;">
    <div class="form-container">
        <h2>Packing your images</h2>
        <div class="spinner"></div>
      </div>
</div>

<div id="gallery">


</div>
{% endblock %}


{% block end_script %}

<script src="{{url_for('static', filename='configs/gallery.js')}}"></script>
{% endblock %}
