{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Eine Liste deiner Sammlungen{% endblock %}</h1>
{% endblock %}

{% block content %}
<ul class="card-list">
  {% for link in configs %}
  <li class="card">
    <a class="card-image" href="{{ link.url }}">
      <img src="{{ link.image_uri }}" alt="A fox"/>
    </a>
    <a class="card-description" target="_blank">
      <h2>{{link.name}}</h2>
      <p> {{link.start_date}} - {{link.end_date}}</p>
    </a>
    <div class="card-links "><a href="{{ link.view_uri }}">Gallerie</a><a href="{{ link.url }}">Review</a></div>
  </li>
  {% endfor %}
</ul>
<br>
<br>
<br>
<a href="/configs/newconfig">Create a new Collection</a>

{% endblock %}


{% block end_script %}
<script>
  // Function to send the viewport size to the server
  function sendViewportSize() {
    const viewportWidth = window.innerWidth;
    const viewportHeight = window.innerHeight;

    // Send the viewport size via AJAX to the server
    fetch('/images/resize-image', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        width: viewportWidth,
        height: viewportHeight
      })
    })
    .then(response => response.json())
    .then(data => {
      console.log('Viewport size sent successfully:', data);
    })
    .catch(error => {
      console.error('Error sending viewport size:', error);
    });
  }

  // Send the viewport size on page load
  window.addEventListener('load', sendViewportSize);

  // Send the viewport size on window resize
  window.addEventListener('resize', sendViewportSize);
</script>
{% endblock %}
