{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Eine Liste deiner Sammlungen{% endblock %}</h1>
{% endblock %}

{% block content %}
<div id="overviewPage">
  <ul class="card-list" id="collection-list">
    {% for link in configs %}
    <li class="card">
      <a class="card-image" href="{{ link.url }}">
        <img src="{{ link.image_uri }}" alt="A fox" />
      </a>
      <a class="card-description" target="_blank">
        <h2>{{link.name}}</h2>
        <p> {{link.start_date}} - {{link.end_date}}</p>
      </a>
      <div class="card-links "><a href="{{ link.view_uri }}">Gallerie</a><a href="{{ link.url }}">Review</a></div>
      {% if can_user_add_user_to_collection %}
      <button id="add_user_to_collection" onclick="openUserCollectionOverlay({{ link.id }}, '{{link.name}}')">Add User
        to
        Collection</button>
      {% endif %}

    </li>
    {% endfor %}
  </ul>

  <!-- Overlay new collection-->
  <div id="overlay" class="overlay">
    <div class="form-container">
      <h2>Create Collection</h2>
      <form id="collection-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date" name="start_date" required>

        <label for="end-date">End Date:</label>
        <input type="date" id="end-date" name="end_date" required>

        <button type="submit">Submit</button>
        <button type="button" onclick="closeCollectionOverlay()">Cancel</button>
      </form>
    </div>
  </div>


  <!-- Overlay add user to Collection-->
  <div id="add_user_overlay" class="overlay">
    <div class="form-container">
      <h2>Add Users to Collection</h2>
      <form id="collectionForm">
        <h1 id="collectionTitle" for="title">Title:</h1>
        <br>
        <div id="userList">
          <!-- Add more users here dynamically -->
        </div>
        <br>
        <button type="button" class="btn" onclick="addUserToCollection()">Submit</button>
        <button type="button" class="btn" onclick="closeUserToCollectionOverlay()">Cancel</button>
        <br>
      </form>
    </div>
  </div>

  <!-- Overlay to create new User-->
  <div id="new_user_overlay" class="overlay">
    <div class="login-wrapper">
      <form method="post">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" placeholder="Username" name="username" id="new-username" required>
          <i class='bx bxs-user'></i>
        </div>
        <dive class="input-box">
          <input type="password" placeholder="Password" name="password" id="new-password" required>
          <i class='bx bxs-lock-alt'></i>
        </dive>
        <dive class="remember-forget">

        </dive><br>
        <button type="button" class="btn" onclick="createNewUser()">Add User</button>
        <button type="button" class="btn" onclick="closeNewUserOverlay()">Cancel</button>
      </form>
    </div>
  </div>

  <br>
  <br>
  <br>

  {% endblock %}

  {% block footer %}
  <button id="create-collection-btn">Create New Collection</button>
  <button id="create-new-user-btn">Create new User</button>
  {% endblock %}


  {% block end_script %}
  <script src="{{url_for('static', filename='configs/overview.js')}}"></script>
  {% endblock %}
