{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<content id="Image-Content">
  <div class="container">
    <div class="login-wrapper">
      <form method="post">
        <h1>Change Password</h1>
        <div class="input-box">
          <input type="password" placeholder="Old Password" name="old_password" id="old_password" required>
          <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="New Password" name="new_password" id="new_password" required>
          <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Confirm New Password" name="confirm_new_password" id="confirm_new_password" required>
          <i class='bx bxs-lock-alt'></i>
        </div>
        <button type="submit" class="btn" value="change_password">Change Password</button>
      </form>
      {% if error_message %}
      <div class="error-message">
        <p>{{error_message}}</p>
      </div>
      {% endif %}
    </div>
  </div>
</content>
{% endblock %}
