<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}Gazer - Bilder bewerten</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body id="page_body">
  <header id="main_header" class="header">
    <div id="left_header" class="header-item">
    </div>

    <div id="center_header" class="header-item">
      {% block header %}{% endblock %}
    </div>

    <div id="right_header" class="header-item">
      {% if g.user %}
        <a href="{{ url_for('configs.overview')}}">Sammlungen von {{ g.user }}</a>
        <a href="{{ url_for('auth.logout') }}">Abmelden</a>
        <a href="{{ url_for('auth.change_password') }}">Passwort ändern</a>

      {% else %}
        <a href="{{ url_for('auth.login') }}">Anmelden</a>
      {% endif %}
    </div>
  </header>

    {% block content %}{% endblock %}

  <footer class="footer">
    {% block footer %}{% endblock %}
  </footer>
  {% block end_script %}{% endblock %}
</body>
