<!doctype html>
<title>{% block title %}{% endblock %} - ImageTinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body id="page_body">
  <header id="main_header" class="header">
    <div id="left_header" class="header-item">
    </div>

    <div id="center_header" class="header-item">
      {% block header %}{% endblock %}
    </div>

    <div id="right_header" class="header-item">
      {% if g.user %}
        <a href="{{ url_for('configs.overview')}}">Konfigurationen von {{ g.user }}</a>
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </div>
  </header>

    {% block content %}{% endblock %}

  <footer class="Footer">
    {% block footer %}{% endblock %}
  </footer>
  {% block end_script %}{% endblock %}
</body>
