{% extends 'base.html' %}
{% block header %}
<div id="center_header" class="header-item">
  <div>Regensburg</div>
  <div>path/to/image.jpg</div>
  <div>18.11.2024</div>
</div>
{% endblock %}

{% block content %}
<div class="Content" id="Image-Content">
  <img id="image_container" src="{{image_path}}" alt="Image">
</div>
{% endblock %}

{% block footer %}
<div class="footer-item">
  <span class="trash">
    <span></span>
    <i></i>
  </span>
</div>
<div class="footer-item" id="rating-box">
  <div class="arrow" id="left-arrow-box">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <span class="rate" id="star-rating">
    <i>★</i><i>★</i><i>★</i><i>★</i><i>★</i>
  </span>
  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="footer-item"></div>

<!-- Hidden Form to handle redirection and rating -->
<form id="redirectForm" method="POST" action="/images/review">
  <input type="hidden" id="pageInput" name="page" />
  <input type="hidden" id="ratingInput" name="rating" />
</form>

{% endblock %}

{% block end_script %}
<script src="{{url_for('static', filename='image_view.js')}}"></script>


{% endblock %}
