

{% extends 'base.html' %}
{% block header %}
<div id="center_header" class="header-item">
  <div>Regensburg</div>
  <div>path/to/image.jpg</div>
  <div>18.11.2024</div>
</div>
{% endblock %}

{% block content %}
<div class="Content" id="Image-Content">
<img id="image_container" src="{{image_path}}" alt="Image">
</div>
{% endblock %}

{% block footer %}
<div class="footer-item">
  <span class="trash" onclick="redirectToPage('trash')">
    <span></span>
    <i></i>
  </span>
</div>
<div class="footer-item" id="rating-box">
  <div class="arrow" id="left-arrow-box" onclick="redirectToPage('previous')">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <span class="rate" id="star-rating"><i>★</i><i>★</i><i>★</i><i>★</i><i>★</i></span>
  <div class="arrow" onclick="redirectToPage('next')">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="footer-item"></div>

{% endblock %}

{% block end_script %}
<!-- Hidden Form to handle redirection -->
  <form id="redirectForm" method="POST" action="/images/next">
    <input type="hidden" id="pageInput" name="page" />
  </form>


  <script>
    function redirectToPage(page) {
    console.log("Redirecting to page:", page); // Debugging
    document.getElementById('pageInput').value = page; // Set the value of the hidden input
    document.getElementById('redirectForm').submit();
}
  </script>


{% endblock %}
