{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div id="overviewPage">
  <h1>Willkommen bei Gazer – tauche ein in deine schönsten Erinnerungen! </h1>
  <p>Willkommen bei Gazer – dein persönliches Archiv für Urlaubserinnerungen! Gazer hilft dir, deine schönsten Momente zu sammeln, zu bewerten und wieder aufleben zu lassen. So funktioniert's:</p>

  <ul>
    <li>
      <strong>Sammlungen:</strong> Deine Erinnerungen sind in Sammlungen geordnet, z.B. nach Urlaubsort, Jahreszeit oder besonderem Anlass. Jede Sammlung zeigt ein schönes Vorschaubild, die Zeitspanne und den Namen.
    </li>
    <li>
      <strong>Gallerie:</strong> Klicke auf "Gallerie", um alle Bilder einer Sammlung im Überblick zu sehen. Die bereits bewerteten Bilder funkeln mit einem kleinen Sternchen – ein Zeichen deiner Wertschätzung!
    </li>
    <li>
      <strong>Review:</strong> Der "Review"-Button öffnet das Bild in voller Pracht. Mit der 1-5-Sterne-Bewertung kannst du deine Lieblingsmomente würdigen. Die Pfeile links und rechts helfen dir, durch die Sammlung zu navigieren.
    </li>
    <li>
      <strong>Navigation:</strong> Der Header am oberen Bildschirmrand ist dein persönlicher Kompass. Er führt dich jederzeit zurück zur Sammlungsübersicht, zum Ein- und Ausloggen oder zu deinen Kontoeinstellungen.
    </li>
  </ul>

  <img src="{{url_for('static', filename='images/gazer.png')}}" alt="Gazer Logo" class="logo" style="display: block; width: 300px; margin: 0 auto;">
</div>
{% endblock %}
