* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #323232;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  min-height: 100vh;
  color: #dadce0;
}

.header {
  display: inline-flex;
  /* Flex layout for the header */
  padding: 10px;
  justify-content: space-between;
  /* Spread out the left, center, and right content */
  align-items: center;
  /* Vertically center the content */
  width: 100%;
  font-size: 20px;
  flex-shrink: 0;
  /* Ensure header doesn't shrink */
}


#left_header,
#right_header {
  flex: 1;
  /* Allow these sections to take up the space on either side */
}

#right_header {
  text-align: right;
}

#center_header {
  display: flex;
  align-items: center;
  /* Align text vertically in the center */
  display: flex;
  justify-content: space-between;
  /* Space out footer items */
  align-items: center;
}

#center_header div {
  margin: 3px;
}

#Image-Content {
  flex-grow: 1;
  /* The content section will take up the remaining space between header and footer */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  /* Prevent image from overflowing */
}

#image_container {
  max-width: 100%;
  max-height: 100%;
  /* The image will scale to fit the available space */
  object-fit: contain;
  /* Maintain aspect ratio while fitting the space */
  border-radius: 20px;
}

.Footer {
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-item {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  /* Space out footer items */
  align-items: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-image {
  width: 15rem;
  height: 15rem;
  padding: 0;
  border-radius: 0;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image > img {
  width: 15rem;
  height: 15rem;
  object-fit: cover; /* Ensure the image covers the entire container while maintaining aspect ratio */
  margin: auto;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0.5,0.5,0.5,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  justify-content: center;
  align-items: center;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0.5,0.5,0.5);
}

.card-description {
	display: block;
	color: #515151;
	text-decoration: none;
  text-align: center;
  padding-bottom: 1em;
  border-radius: 0;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
  padding-bottom: 1em;
}


a {
  background-color: #1c1c1c;
  color: #dadce0;
  padding: 10px;
  border-radius: 10px;
}


/* These styles are applied by default.
 They will also override the hover
 style for all stars to the right
 of the currently hovered star. */
.rate i,
.rate i:hover~i {
  color: #222;
  text-shadow: none;
  transition: color 200ms,
  text-shadow 200ms;
  /* This will remove the delay when
   moving the cursor left or right
   within the set of stars. */
  transition-delay: 0;
}

/* This is the style that will be
 applied to all stars and then
 subsequently removed from the stars
 to the right of the one being
 hovered. */
.rate:hover i {
  color: #fc0;
  text-shadow: #fc0 0 0 20px;
}

/* When a star is selected, apply the selected state */
.rate i.selected {
  color: #fc0;
  text-shadow: #fc0 0 0 20px;
}

/* Make the effect apply one star at a
 time. Limiting the selector to when
 .rate is hovered removes the effect
 without delay when cursor leaves
 the .rate area. */
.rate:hover i:nth-child(2) {
  transition-delay: 30ms;
}

.rate:hover i:nth-child(3) {
  transition-delay: 60ms;
}

.rate:hover i:nth-child(4) {
  transition-delay: 90ms;
}

.rate:hover i:nth-child(5) {
  transition-delay: 120ms;
}

/* Miscellaneous styles. */
.rate i {
  cursor: pointer;
  font-style: normal;
  font-size: 80px;
}

.arrow {

  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}

#left-arrow-box {
  transform: rotate(90deg)
}

#rating-box {
  display: inline-flex;
  grid-gap: 50px;

}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #dadce0;
  border-right: 5px solid #dadce0;
  transform: rotate(45deg);
  margin: -10px;
  min-width: 2.5vh;
  min-height: 2.5vh;

}

.padding {
  width: 50px;
}

.arrow:hover span {
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.trash {
  background: #ff6873;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 0 auto;

  position: relative;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.trash span {
  position: absolute;
  height: 10px;
  background: #ff6873;
  top: -15px;
  left: -5px;
  right: -5px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
}

.trash span:after {
  content: '';
  position: absolute;
  width: 27px;
  height: 5px;
  background: #ff6873;
  top: -7px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(0deg);
  transition: transform 250ms;
  transform-origin: 19% 100%;
  left: 27px;
}


.trash i {
  position: relative;
  width: 5px;
  height: 36px;
  background: #fff;
  display: block;
  margin: 7px auto;
  border-radius: 5px;
}

.trash i:after {
  content: '';
  width: 5px;
  height: 36px;
  background: #fff;
  position: absolute;
  left: -13px;
  border-radius: 5px;
}

.trash i:before {
  content: '';
  width: 5px;
  height: 36px;
  background: #fff;
  position: absolute;
  right: -13px;
  border-radius: 5px;
}

.trash:hover span {
  transform: rotate(-45deg);
  transition: transform 250ms;
}


.login-wrapper {
  width: 420px;
  background-color: #1c1c1c;
  color: #dadce0;
  border: 2px solid #dadce0;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 30px 40px;
}
.login-wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.login-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #dadce0;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
  color: #dadce0;
}
.input-box i {
  position:absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.login-wrapper .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  margin-top:20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
}
.login-wrapper .btn:hover{
  background-color:#ff76ba;
  color:#fff;
}
.login-wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.login-wrapper .error-message {
  color: rgba(255, 0, 0, .8);
  text-align: center;
}
